In [3]:
from pandas import DataFrame, read_csv
import matplotlib.pyplot as plt
import pandas as pd
import sys
%matplotlib inline

In [4]:
print 'Python version ' + sys.version
print 'Pandas version ' + pd.__version__

Python version 2.7.10 |Anaconda 2.3.0 (64-bit)| (default, Oct 19 2015, 18:04:42)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)]
Pandas version 0.16.2

#Create Data

In [5]:
# The inital set of baby names and bith rates
names = ['Bob','Jessica','Mary','John','Mel']
births = [968, 155, 77, 578, 973]

In [7]:
BabyDataSet = zip(names,births)

In [10]:
#DataFrame是一种维持数据的格式，类似sql或者表格
df = pd.DataFrame(data=BabyDataSet,columns=['Names','Births'])
print df

     Names  Births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973

In [13]:
df.to_csv('births1880.csv',index=False,header=False)
df.to_csv('head_and_index_births1880.csv',index=True,header=True)

#Get Data

In [16]:
Location = r'births1880.csv'
#这样读取格式默认有头，没有索引
df = pd.read_csv(Location)
print df #产生错误结果

       Bob  968
0  Jessica  155
1     Mary   77
2     John  578
3      Mel  973

In [27]:
df = pd.read_csv(Location,header=False) #header表示header从那一行算起
print df #产生错误结果

  Jessica  155
0    Mary   77
1    John  578
2     Mel  973

In [37]:
#多尝试几次header和name的关系
df = pd.read_csv('head_and_index_births1880.csv', header=0,names=['Names','Births'])
df

     Names  Births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973

#Prepare Data
数据与处理

In [38]:
df.dtypes

Names     object
Births     int64
dtype: object

In [39]:
df.Births.dtype

dtype('int64')

In [73]:
# Method 1:
Sorted = df.sort(['Births'], ascending=False)
Sorted

     Names  Births
4      Mel     973
0      Bob     968
3     John     578
1  Jessica     155
2     Mary      77

In [42]:
df['Births'].max()

973

In [50]:
df['Births'][df['Births']>2]

0    968
1    155
2     77
3    578
4    973
Name: Births, dtype: int64

In [52]:
df['Names']

0        Bob
1    Jessica
2       Mary
3       John
4        Mel
Name: Names, dtype: object

In [72]:
df['Names'].head(4).values

array(['Bob', 'Jessica', 'Mary', 'John'], dtype=object)

In [65]:
MaxValue = df['Births'].max()
print MaxValue

973

In [71]:
MaxName = df['Names'][df['Births'] == df['Births'].max()].values
print MaxName

['Mel']

In [80]:
df.tail(3)

  Names  Births
2  Mary      77
3  John     578
4   Mel     973